# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
out/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases & Caches
db.sqlite
*.db
.redis/
.pgdata/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
